.md-header__button.md-logo img {
    height: 50px;  /* Adjust as needed */
    width: auto;   /* Maintain aspect ratio */
}

.md-typeset p {
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; /* centers image */
}
/* Style specific images with a class */
.img-small {
    width: 200px;
}

.img-bordered {
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 8px;
}

.md-typeset table {
  margin-left: auto;
  margin-right: auto;
}
